
body,h1,h2,h3,p,td,quote,small,form,input,ul,li,ol,label{
	margin:0px;
	padding:0px;
	font-family: 'Poiret One', cursive;
}

body{
	margin-top:20px;
	color:white;
	
	background-color:#fff4e1;
}
form{
	color:black;
	font-size: 20px;
	margin-left: 20px;

}
input{
	font-size: 18px;
	
}
input[type=submit]{
	margin-top: 20px;
	width:100px;
	height:40px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
    background: #444444;
    border: 1px solid #444444;
    
    cursor: pointer;
}
.clear{
	clear:both;
}

a, a:visited {
	color:#00BBFF;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

#container{
	width:1110px;
	margin:30px auto;
}

#heading,#footer{
	background-color:#fff4e1;
	border:1px solid #fff4e1;
	height:50px;
	padding:6px 0 25px 15px;
	margin-bottom:20px;
	margin-top:20px;
	overflow:hidden;
}

#footer{
	height:10px;
	margin:20px 0 20px 0;
	padding:6px 0 11px 15px;
}

div.nomargin{
	margin-right:0px;
}

.pic{
	float:left;
	
	width:330px;
	height:220px;
	
  border: 20px solid #fff4e1;
    
    
}

.pic a{
	width:330px;
	
	height:220px;
	text-indent:-99999px;
	display:block;

}
.gallery{
	margin-left: 10px;
}
h1{
	font-size:30px;
	font-weight:bold;
	font-family: 'Allura', cursive;
	color:#444444;
	text-align:right;
	margin-right: 
	margin-right: 20PX;
}

h2{
	font-weight:normal;
	font-family: 'Allura', cursive;
	font-size:20px;
	height: 30px;
	color:#444444;
	text-align:right;
	margin-right: 20PX;
}


.pic a:hover {

background-color: rgba(43,43,43,.6);

cursor: pointer;

}

